

body {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
        opacity: .0;
    }
    100% {
        opacity: 1;
     }
  }



a {
    text-decoration: none;
    color: inherit;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none;
    color: inherit;        
}


a:active { text-decoration: none; }

.text-blue {
    color: #218ffe !important;
}

.bg-dark {
    background-color: #212121 !important;
}

.bg-accent {
    background-color: #323232 !important;
}

.btn-primary {
    background-color: #218ffe !important;
}

  .projectcard {
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
  }

  .textshadow {
    text-shadow: 1px 2px 5px black;
  }

  html {
    scroll-behavior: smooth;
  }
